
@model LudoGame.Models.Game

@helper BrickHelper(object players, int position) { 
if(players.positon = postion)
{
        <div class="brick"></div>
}
    }

<div class="board">
    <div class="wing" id="leftWing">
        <div class="field" id="52">@BrickHelper(Model.combinedPlayers, 52)</div>
        <div class="field player2" id="1">1</div>
        <div class="field" id="2">2</div>
        <div class="field" id="3">3</div>
        <div class="field" id="4">4</div>
        <div class="field" id="5">5</div>
        <div class="field" id="51">51</div>
        <div class="field player2" id="1G">1G</div>
        <div class="field player2" id="2G">2G</div>
        <div class="field player2" id="3G">3G</div>
        <div class="field player2" id="4G">4G</div>
        <div class="field player2" id="5G">5G</div>
        <div class="field" id="50">50</div>
        <div class="field" id="49">49</div>
        <div class="field" id="48">48</div>
        <div class="field" id="47">47</div>
        <div class="field" id="46">46</div>
        <div class="field" id="45">45</div>
    </div>
    <div class="wing" id="rightWing">
        <div class="field" id="26">26</div>
        <div class="field player3" id="27">27</div>
        <div class="field" id="28">28</div>
        <div class="field" id="29">29</div>
        <div class="field" id="30">30</div>
        <div class="field" id="31">31</div>
        <div class="field" id="25">25</div>
        <div class="field player3" id="1Y">1Y</div>
        <div class="field player3" id="2Y">2Y</div>
        <div class="field player3" id="3Y">3Y</div>
        <div class="field player3" id="4Y">4Y</div>
        <div class="field player3" id="5Y">5Y</div>
        <div class="field" id="24">24</div>
        <div class="field" id="23">23</div>
        <div class="field" id="22">22</div>
        <div class="field" id="21">21</div>
        <div class="field" id="20">20</div>
        <div class="field" id="19">19</div>
    </div>
    <div class="wing" id="topWing">
        <div class="field" id="13">13</div>
        <div class="field player4" id="14">14</div>
        <div class="field" id="15">15</div>
        <div class="field" id="16">16</div>
        <div class="field" id="17">17</div>
        <div class="field" id="18">18</div>
        <div class="field" id="12">12</div>
        <div class="field player4" id="1B">1B</div>
        <div class="field player4" id="2B">2B</div>
        <div class="field player4" id="3B">3B</div>
        <div class="field player4" id="4B">4B</div>
        <div class="field player4" id="5B">5B</div>
        <div class="field" id="11">11</div>
        <div class="field" id="10">10</div>
        <div class="field" id="9">9</div>
        <div class="field" id="8">8</div>
        <div class="field" id="7">7</div>
        <div class="field" id="6">6</div>
    </div>
    <div class="wing" id="bottomWing">
        <div class="field" id="39">39</div>
        <div class="field player1" id="40">40</div>
        <div class="field" id="41">41</div>
        <div class="field" id="42">42</div>
        <div class="field" id="43">43</div>
        <div class="field" id="44">44</div>
        <div class="field" id="38">38</div>
        <div class="field player1" id="1R">1R</div>
        <div class="field player1" id="2R">2R</div>
        <div class="field player1" id="3R">3R</div>
        <div class="field player1" id="4R">4R</div>
        <div class="field player1" id="5R">5R</div>
        <div class="field" id="37">37</div>
        <div class="field" id="36">36</div>
        <div class="field" id="35">35</div>
        <div class="field" id="34">34</div>
        <div class="field" id="33">33</div>
        <div class="field" id="32">32</div>
    </div>
    <div class="goal"></div>
    <div class="start player1">
        <div class="field">
            <div class="brick player1" id="GamePieceOne">1</div>
        </div>
        <div class="field">
            <div class="brick player1" id="GamePieceTwo">2</div>
        </div>
        <div class="field">
            <div class="brick player1" id="GamePieceThree">3</div>
        </div>
        <div class="field">
            <div class="brick player1" id="GamePieceFour">4</div>
        </div>
    </div>
    <div class="start player2">
        <div class="field">
            <div class="brick player2" id="GamePieceOne">1</div>
        </div>
        <div class="field">
            <div class="brick player2" id="GamePieceTwo">2</div>
        </div>
        <div class="field">
            <div class="brick player2" id="GamePieceThree">3</div>
        </div>
        <div class="field">
            <div class="brick player2" id="GamePieceFour">4</div>
        </div>
    </div>
    <div class="start player3">
        <div class="field">
            <div class="brick player3" id="GamePieceOne">1</div>
        </div>
        <div class="field">
            <div class="brick player3" id="GamePieceTwo">2</div>
        </div>
        <div class="field">
            <div class="brick player3" id="GamePieceThree">3</div>
        </div>
        <div class="field">
            <div class="brick player3" id="GamePieceFour">4</div>
        </div>
    </div>
    <div class="start player4" id="@Model.combinedPlayers.GamePlayers[0].Name">
        <div class="field">
            <div class="brick player4" id="GamePieceOne">1</div>
        </div>
        <div class="field">
            <div class="brick player4" id="GamePieceTwo">2</div>
        </div>
        <div class="field">
            <div class="brick player4" id="GamePieceThree">3</div>
        </div>
        <div class="field">
            <div class="brick player4" id="GamePieceFour">4</div>
        </div>
    </div>
</div>
