
<div class="board">
    <div class="wing" id="leftWing">
        <div class="field" id="1">52</div>
        <div class="field player2" id="2">1</div>
        <div class="field" id="3">2</div>
        <div class="field" id="4">3</div>
        <div class="field" id="5">4</div>
        <div class="field" id="6">5</div>
        <div class="field" id="56">51</div>
        <div class="field player2" id="57">1G</div>
        <div class="field player2" id="58">2G</div>
        <div class="field player2" id="59">3G</div>
        <div class="field player2" id="60">4G</div>
        <div class="field player2" id="61">5G</div>
        <div class="field" id="55">50</div>
        <div class="field" id="54">49</div>
        <div class="field" id="53">48</div>
        <div class="field" id="52">47</div>
        <div class="field" id="51">46</div>
        <div class="field" id="50">45</div>
    </div>
    <div class="wing" id="rightWing">
        <div class="field" id="29">26</div>
        <div class="field player3" id="30">27</div>
        <div class="field" id="31">28</div>
        <div class="field" id="32">29</div>
        <div class="field" id="33">30</div>
        <div class="field" id="34">31</div>
        <div class="field" id="28">25</div>
        <div class="field player3" id="67">1Y</div>
        <div class="field player3" id="68">2Y</div>
        <div class="field player3" id="69">3Y</div>
        <div class="field player3" id="70">4Y</div>
        <div class="field player3" id="71">5Y</div>
        <div class="field" id="27">24</div>
        <div class="field" id="26">23</div>
        <div class="field" id="25">22</div>
        <div class="field" id="24">21</div>
        <div class="field" id="23">20</div>
        <div class="field" id="22">19</div>
    </div>
    <div class="wing" id="topWing">
        <div class="field" id="15">13</div>
        <div class="field player4" id="16">14</div>
        <div class="field" id="17">15</div>
        <div class="field" id="18">16</div>
        <div class="field" id="19">17</div>
        <div class="field" id="20">18</div>
        <div class="field" id="14">12</div>
        <div class="field player4" id="62">1B</div>
        <div class="field player4" id="63">2B</div>
        <div class="field player4" id="64">3B</div>
        <div class="field player4" id="65">4B</div>
        <div class="field player4" id="66">5B</div>
        <div class="field" id="13">11</div>
        <div class="field" id="12">10</div>
        <div class="field" id="11">9</div>
        <div class="field" id="10">8</div>
        <div class="field" id="9">7</div>
        <div class="field" id="8">6</div>
    </div>
    <div class="wing" id="bottomWing">
        <div class="field" id="43">39</div>
        <div class="field player1" id="44">40</div>
        <div class="field" id="45">41</div>
        <div class="field" id="46">42</div>
        <div class="field" id="47">43</div>
        <div class="field" id="48">44</div>
        <div class="field" id="42">38</div>
        <div class="field player1" id="72">1R</div>
        <div class="field player1" id="73">2R</div>
        <div class="field player1" id="74">3R</div>
        <div class="field player1" id="75">4R</div>
        <div class="field player1" id="76">5R</div>
        <div class="field" id="41">37</div>
        <div class="field" id="40">36</div>
        <div class="field" id="39">35</div>
        <div class="field" id="38">34</div>
        <div class="field" id="37">33</div>
        <div class="field" id="36">32</div>
    </div>
    <div class="goal"></div>
    <div class="start player1">
        <div class="field">
            <div class="brick player1" id="GamePieceOne">1</div>
        </div>
        <div class="field">
            <div class="brick player1" id="GamePieceTwo">2</div>
        </div>
        <div class="field">
            <div class="brick player1" id="GamePieceThree">3</div>
        </div>
        <div class="field">
            <div class="brick player1" id="GamePieceFour">4</div>
        </div>
    </div>
    <div class="start player2">
        <div class="field">
            <div class="brick player2" id="GamePieceOne">1</div>
        </div>
        <div class="field">
            <div class="brick player2" id="GamePieceTwo">2</div>
        </div>
        <div class="field">
            <div class="brick player2" id="GamePieceThree">3</div>
        </div>
        <div class="field">
            <div class="brick player2" id="GamePieceFour">4</div>
        </div>
    </div>
    <div class="start player3">
        <div class="field">
            <div class="brick player3" id="GamePieceOne">1</div>
        </div>
        <div class="field">
            <div class="brick player3" id="GamePieceTwo">2</div>
        </div>
        <div class="field">
            <div class="brick player3" id="GamePieceThree">3</div>
        </div>
        <div class="field">
            <div class="brick player3" id="GamePieceFour">4</div>
        </div>
    </div>
    <div class="start player4">
        <div class="field">
            <div class="brick player4" id="GamePieceOne">1</div>
        </div>
        <div class="field">
            <div class="brick player4" id="GamePieceTwo">2</div>
        </div>
        <div class="field">
            <div class="brick player4" id="GamePieceThree">3</div>
        </div>
        <div class="field">
            <div class="brick player4" id="GamePieceFour">4</div>
        </div>
    </div>
</div>
