
<div class="board">
    <div class="wing" id="leftWing">
        <div class="field" id="1">1</div>
        <div class="field player2">2</div>
        <div class="field" id="3">3</div>
        <div class="field" id="4">4</div>
        <div class="field" id="5">5</div>
        <div class="field" id="6">6</div>
        <div class="field" id="7">56</div>
        <div class="field player2">57</div>
        <div class="field player2">58</div>
        <div class="field player2">59</div>
        <div class="field player2">60</div>
        <div class="field player2">61</div>
        <div class="field" id="7">55</div>
        <div class="field" id="8">54</div>
        <div class="field" id="9">53</div>
        <div class="field" id="10">52</div>
        <div class="field" id="11">51</div>
        <div class="field" id="12">50</div>
    </div>
    <div class="wing" id="rightWing">
        <div class="field">29</div>
        <div class="field player3">30</div>
        <div class="field">31</div>
        <div class="field">32</div>
        <div class="field">33</div>
        <div class="field">34</div>
        <div class="field">28</div>
        <div class="field player3">67</div>
        <div class="field player3">68</div>
        <div class="field player3">69</div>
        <div class="field player3">70</div>
        <div class="field player3">71</div>
        <div class="field">27</div>
        <div class="field">26</div>
        <div class="field">25</div>
        <div class="field">24</div>
        <div class="field">23</div>
        <div class="field">22</div>
    </div>
    <div class="wing" id="topWing">
        <div class="field">15</div>
        <div class="field player4">16</div>
        <div class="field">17</div>
        <div class="field">18</div>
        <div class="field">19</div>
        <div class="field">20</div>
        <div class="field">14</div>
        <div class="field player4">62</div>
        <div class="field player4">63</div>
        <div class="field player4">64</div>
        <div class="field player4">65</div>
        <div class="field player4">66</div>
        <div class="field">13</div>
        <div class="field">12</div>
        <div class="field">11</div>
        <div class="field">10</div>
        <div class="field">9</div>
        <div class="field">8</div>
    </div>
    <div class="wing" id="bottomWing">
        <div class="field">43</div>
        <div class="field player1">44</div>
        <div class="field">45</div>
        <div class="field">46</div>
        <div class="field">47</div>
        <div class="field">48</div>
        <div class="field">42</div>
        <div class="field player1">72</div>
        <div class="field player1">73</div>
        <div class="field player1">74</div>
        <div class="field player1">75</div>
        <div class="field player1">76</div>
        <div class="field">41</div>
        <div class="field">40</div>
        <div class="field">39</div>
        <div class="field">38</div>
        <div class="field">37</div>
        <div class="field">36</div>
    </div>
    <div class="goal"></div>
    <div class="start player1">
        <div class="field">
            <div class="brick player1"></div>
        </div>
        <div class="field">
            <div class="brick player1"></div>
        </div>
        <div class="field">
            <div class="brick player1"></div>
        </div>
        <div class="field">
            <div class="brick player1"></div>
        </div>
    </div>
    <div class="start player2">
        <div class="field">
            <div class="brick player2"></div>
        </div>
        <div class="field">
            <div class="brick player2"></div>
        </div>
        <div class="field">
            <div class="brick player2"></div>
        </div>
        <div class="field">
            <div class="brick player2"></div>
        </div>
    </div>
    <div class="start player3">
        <div class="field">
            <div class="brick player3"></div>
        </div>
        <div class="field">
            <div class="brick player3"></div>
        </div>
        <div class="field">
            <div class="brick player3"></div>
        </div>
        <div class="field">
            <div class="brick player3"></div>
        </div>
    </div>
    <div class="start player4">
        <div class="field">
            <div class="brick player4"></div>
        </div>
        <div class="field">
            <div class="brick player4"></div>
        </div>
        <div class="field">
            <div class="brick player4"></div>
        </div>
        <div class="field">
            <div class="brick player4"></div>
        </div>
    </div>
</div>
