<div class="gameInfo">
    <div class="currentPlayer">Joe</div>
    <div><button type="button">Roll Dice!</button></div>
    <div class="dice">
        <div class="diceDot" id="center" hidden></div>
        <div class="diceDot" id="leftUpper"></div>
        <div class="diceDot" id="leftMiddel"></div>
        <div class="diceDot" id="leftLower"></div>
        <div class="diceDot" id="rightUpper"></div>
        <div class="diceDot" id="rightMiddel"></div>
        <div class="diceDot" id="rightLower"></div>
    </div>
</div>
