html{
    background-color: lightgray;
}

.currentPlayer{
    font-size: 300%;
}

.dice{
    width: 56px; 
    height: 56px;  
    background-color: antiquewhite;
    border: 2px solid black;
    margin:0px;
    padding:0px;
    position: relative;
    top: 150x;
    left: 50px;
}

.diceDot{
    width: 10px;
    height: 10px;
    background-color: black;  
    border-radius: 50px;
    position: absolute;
}

.diceDot#center{
    top:23px;
    left:23px;
}

.diceDot#leftUpper{
    top:3px;
    left:5px;
}
.diceDot#leftMiddel{
    top:23px;
    left:5px;
}
.diceDot#leftLower{
    top:43px;
    left:5px;
}
.diceDot#rightUpper{
    top:3px;
    left:41px;
}
.diceDot#rightMiddel{
    top:23px;
    left:41px;
}
.diceDot#rightLower{
    top:43px;
    left:41px;
}

.gameInfo{
    width:100px;
    height:50px;
    top:20px;
    left:920px;
    position:absolute;
}

.goal{
    width:180px;
    height:180px;
    position:absolute;
    left:360px;
    top:360px;
    background-color: antiquewhite;
}

.field {
    width: 58px;
    height: 58px;
    background-color: antiquewhite;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    float: left;
}

.board{
    top:0px;
    left:0px;
    width:860px;
    height:860px;
    padding:20px;
    background-color: antiquewhite;
    border: 2px solid black;
    position: absolute;
}

.brick {
    margin: 9px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: inline-block;
    box-shadow: 0px 0px 0px 2px black;
}

.start{
    width:160px;
    height:160px;
    padding: 100px;
    position: absolute;
}

.start .field{
    margin:10px;
}

.wing{
    width:360px;
    height: 180px;
    position: absolute;
}

#leftWing{
    top:360px;
    left:0px;
}

#rightWing{
    top:360px;
    left:540px;
    transform: rotate(180deg);
}

#topWing{
    top:90px;
    left:270px;   
    transform: rotate(90deg);
}

#bottomWing{
    top:630px;
    left:270px;
    transform: rotate(270deg);
}

.player1{
    background: red;
}

.player2{
    background: green;
}

.player3{
    background: orange;
}

.player4{
    background: blue;
}

.start.player1{
    left:0px;
    top:540px;
}

.start.player2{
    left:0px;
    top:0px;
}

.start.player3{
    left:540px;
    top:540px;
}

.start.player4{
    left:540px;
    top:0px;
}

#DiceButton {
    background: #004dff;
    background-image: -webkit-linear-gradient(top, #004dff, #000000);
    background-image: -moz-linear-gradient(top, #004dff, #000000);
    background-image: -ms-linear-gradient(top, #004dff, #000000);
    background-image: -o-linear-gradient(top, #004dff, #000000);
    background-image: linear-gradient(to bottom, #004dff, #000000);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 4px 5px 12px #666666;
    -moz-box-shadow: 4px 5px 12px #666666;
    box-shadow: 4px 5px 12px #666666;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #1f628d 2px;
    text-decoration: none;
}

#DiceButton:hover {
        background: #020d14;
        background-image: -webkit-linear-gradient(top, #020d14, #9f03fa);
        background-image: -moz-linear-gradient(top, #020d14, #9f03fa);
        background-image: -ms-linear-gradient(top, #020d14, #9f03fa);
        background-image: -o-linear-gradient(top, #020d14, #9f03fa);
        background-image: linear-gradient(to bottom, #020d14, #9f03fa);
        text-decoration: none;
}

#colorButton {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 4px 5px 12px #666666;
    -moz-box-shadow: 4px 5px 12px #666666;
    box-shadow: 4px 5px 12px #666666;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    border: solid #1f628d 2px;
    text-decoration: none;
}

#colorButton:hover {
        background: #f00c58;
        text-decoration: none;
}

#MovePiece {
    background: #063d32;
    background-image: -webkit-linear-gradient(top, #063d32, #2bb834);
    background-image: -moz-linear-gradient(top, #063d32, #2bb834);
    background-image: -ms-linear-gradient(top, #063d32, #2bb834);
    background-image: -o-linear-gradient(top, #063d32, #2bb834);
    background-image: linear-gradient(to bottom, #063d32, #2bb834);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 4px 5px 12px #666666;
    -moz-box-shadow: 4px 5px 12px #666666;
    box-shadow: 4px 5px 12px #666666;
    font-family: Georgia;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    border: solid #1f628d 2px;
    text-decoration: none;
}

#MovePiece:hover {
        background: #0a2638;
        background-image: -webkit-linear-gradient(top, #0a2638, #3498db);
        background-image: -moz-linear-gradient(top, #0a2638, #3498db);
        background-image: -ms-linear-gradient(top, #0a2638, #3498db);
        background-image: -o-linear-gradient(top, #0a2638, #3498db);
        background-image: linear-gradient(to bottom, #0a2638, #3498db);
        text-decoration: none;
}

#StartGameBtn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

#StartGameBtn {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

#EndTurn {
    display: inline-block;
    background-color: #f4511e;
    border: solid #1f628d 2px;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
}

#EndTurn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#EndTurn span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

#EndTurn:hover span {
    padding-right: 25px;
}

#EndTurn:hover span:after {
        opacity: 1;
        right: 0;
    }

