
@{
    ViewBag.Title = "Rules";
}

<div style="background-image: url(../../Content/colored-ludo-dice-wallpaper-1920x1080.jpg); height: 1080px; width: 1920px; border: 1px solid black;">

<h2>Rules</h2>

