
@{
    ViewBag.Title = "Rules";
}

<div style="background-image: url(../../Content/colored-ludo-dice-wallpaper-1920x1080.jpg); height: 1080px; width: 1920px; border: 1px solid black;">

<article>
    <h1 style="font-size: 30px"><b>Rules</b></h1>
    <br />
    <h2 style="font-size: 20px"><b>Overview</b></h2>
    <p>
        <br />
        Two or four can play, without partnerships.
        <br />
        At the beginning of the game, each player's four tokens are out of play and staged in one of the large corner areas of the board in the player's colour (the player's home base or yard).
        <br />
        When their respective starting squares, and proceed to race them clockwise around the board along the game track (the path of squares not part of any player's home column).
        <br />
        When reaching the square below his home column, a player continues by racing tokens up the column to the finishing square.
        <br />
        The rolls of a single cube die control the swiftness of the tokens, and entry to the finishing square requires a precise roll from the player.
        <br />
        The first to bring all their tokens to the finish wins the game. The others often continue play to determine second-, third-, and fourth-place finishers.
        <br />
        <br />
        <h3 style="font-size: 20px"><b>Gameplay</b></h3>
        <br />
        Each player rolls the die; the highest roller begins the game. Players alternate turns in a clockwise direction.
        <br />
        To enter a token into play from its yard to its starting square, a player must roll a 6. If the player has no tokens yet in play and rolls other than a 6, the turn passes to the next player.
        <br />
        Once a player has one or more tokens in play, he selects a token and moves it forwards along the track the number of squares indicated by the die.
        <br />
        Players must always move a token according to the die value rolled. Passes are not allowed; if no move is possible, the turn moves to the next player.
        <br />
        When a 6 is rolled, the player may choose to advance a token already in play, or may enter another staged token to its starting square.
        <br />
        Rolling a 6 earns the player an additional or "bonus" rell in that turn. If the bonus roll results in a 6 again, the player earns an additional bonus roll.
        <br />
        If the third roll is also a 6, the player may not move and the turn immediately passes to the next player.
        <br />
        Players may not end their move on a square they already occupy. If the advance of a token ends on a square occupied by an opponent's token, the opponent token is returned to its owner's yard.
        <br />
        The returned token can be reentered into play only when the owner rolls a 6. Unlike Pachisi, there are no "safe" squares on the game track which protect a player's tokens from being returned.
        <br />
        A player's home column squares are always safe, however, since no opponent may enter them.
        <br />
    </p>
    <br />
    <p><strong>Note:</strong> These rules are taken from the strong side of Wikipedia.</p>
</article>

</div>