@model LudoGame.Models.Game
@{
    ViewBag.Title = "StartPage";
}

<div style="background-image: url(../../Content/colored-ludo-dice-wallpaper-1920x1080.jpg); height: 1080px; width: 1920px; border: 1px solid black;">
    <div><button type="button" id="CreditsBtn" onclick="location.href='http://localhost:52393/Ludo/About'">Credits</button></div>
    <br />
    <h1 style="font-size: 180%;">Welcome to KJJ:s Ludo Game!!</h1>
    <br />
    <p style="font-size: 140%;"><b>Winner winner chicken dinner!</b></p>
    <br />

    @using (Html.BeginForm())
    {
        <div>
            @if (@LudoGame.Controllers.LudoController.myGame.Players.Count < 4)
            {
                <br />
                <p style="font-size: 1em;">Number of players: </p>
                <input type="number" class="input-text autoclear" max="4" min="2" value="2" runat="server" id="numberOfPlayers" name="numbersOfPlayers" />
                <br />
                <br />
                <p>Choose a color!</p>
                <select class="form-control" id="colorChoice" name="colorChoice">
                    @if (LudoGame.Controllers.LudoController.red == false)
                    {
                        <option>Red</option>
                    }
                    @if (LudoGame.Controllers.LudoController.yellow == false)
                    {
                        <option>Yellow</option>
                    }
                    @if (LudoGame.Controllers.LudoController.blue == false)
                    {
                        <option>Blue</option>
                    }
                    @if (LudoGame.Controllers.LudoController.green == false)
                    {
                        <option>Green</option>
                    }
                </select>
                <br />
                <br />
                <p style="font-size: 1em;">Enter nickname here!</p>
                <input type="text" value="" class="input-text autoclear" runat="server" id="myTextBox" name="myTextBox" />
                <br />
                <br />
                <input type="submit" id="colorButton" name="colorSubmit" value="Enter" />
            }

        </div>
    }
    @if (LudoGame.Controllers.LudoController.myGame.Players.Count >= 1)
    {
        <br />
        <h2> @Html.ActionLink("Go to LudoGame", "Index")</h2>
        <br />
    }
</div>