
@model LudoGame.Models.Game

@{
    ViewBag.Title = "WinPage";
}

@helper CheckWinner(List<GameEngine.GamePlayer> players)
{     
    foreach (GameEngine.GamePlayer player in players)
    {
        if (player.Win == true)
        {
            <div class="WinningPlayer">@Html.Label(player.Name)</div>
            break;
        }
    }   
}

@CheckWinner(Model.Players)

