@model LudoGame.Models.Game
@{
    ViewBag.Title = "WinPage";
}
@helper CheckWinner(List<GameEngine.GamePlayer> players)
{ 
foreach(GameEngine.GamePlayer player in players)
{
    if (player.Win == true)
    {
            <div>@player.Name + "Wins!"</div>;
    }
}
}

